<form id="meta">
    <label>Name</label>
    <input name="name" type="text" value="{{name}}"/>

    <label>Notes</label>
    <textarea name="notes" rows=3 >{{notes}}</textarea>
    
    {{#if platforms }}
        <label>Platform</label>
        <select name="platform">
            {{#each platforms}}
            <option value="{{id}}" {{#ifequal id ../platform.id}}selected=true{{/ifequal}}>
                {{name}}
            </option>
            {{/each}}

        </select>
    {{/if}}
    {{#if sites}}
        <label>Site</label>
        <select name="site">
            {{#each sites}}
                <option value="{{id}}" {{#ifequal id ../site.id}}selected=true{{/ifequal}}>
                    {{name}}
                </option>
            {{/each}}
        </select>
    {{/if}}

</form>
