<br/>
<div class="plan-tool" id="reverse-plan">
<button  id="btn-reverse" class="btn btn-primary">Reverse {{moniker}}</button>
</div>
<br/>


<div class="plan-tool" id="append-plan">
  <h6>Append {{moniker}}</h6>
  <div class="tool-entry">
    <label for="plan-select">Select {{moniker}}:</label>
    <select id="plan-select">
      {{#each planIndex}}
        <option value="{{id}}">{{name}}</option>
      {{/each}}
    </select>
  </div>
  <div class="tool-entry">
    <fieldset>
    <span id="select-title">{{moniker}} Placement:</span>
    <input type="radio" name="plan-placement" id="prepend-plan" class="tool-input" checked="checked">
    <label for="prepend-plan" style="display:inline-block;">Before</label>&nbsp;&nbsp;
    <input type="radio" name="plan-placement" id="append-plan" class="tool-input">
    <label for="append-plan" style="display:inline-block;">After</label>
    </fieldset>
  </div><div class="tool-entry">
    <input type="checkbox" id="reverse-plan" class="tool-input">
    <label for="reverse-plan" style="display:inline-block;">Reverse Appended {{moniker}}</label>
  </div><div class="tool-submit">
    <button id="ok-button" class="btn btn-primary">OK</button>
    <span class="entry-error text-danger" id="append-error"><!-- error message space --></span>
  </div>
</div>
