    	<div class="row">
		    <div id="map-buttons" data-toggle="buttons-radio" class="col-4">
		        <div class="btn-group" role="group" data-toggle="buttons">
		        	<label class="btn btn-primary active" id="btn-navigate">
		        		<input type="radio"  autocomplete="off" checked/>Navigate
		        	</label>
		        	<label class="btn btn-primary" id="btn-reposition">
		        		<input type="radio"  autocomplete="off"/>Edit {{ stationMonikerPlural }}
		        	</label>
		        	<label class="btn btn-primary" id="btn-addStations">
		        		<input type="radio" autocomplete="off"/>Add {{ stationMonikerPlural }}
		        	</label>
		        	
		        	<!--
		            <button class=" checked" id="btn-navigate">Navigate</button>
		            <button class="radio" id="btn-reposition" >Edit {{ stationMonikerPlural }}</button>
		            <button class="radio"  id="btn-addStations">Add {{ stationMonikerPlural }}</button>
		            -->
		        </div>
		    </div>
	    
		    <div class="col-5">
		        {{#if simInfo}}
		        <strong>Duration: </strong><span id="totalDuration">{{formatDuration simInfo.deltaTimeSeconds}}</span><br/>
		        <strong>Distance: </strong><span id="totalDistance">{{formatDistance simInfo.deltaDistanceMeters}}</span>
		        {{/if}}
			</div>
			
			
			<div class="btn-group col-3" role="group">
				<!-- <button  id="btn-showWedges" data-toggle="button">Show Fovs</button> -->
	            <button  id="btn-undo" class="btn btn-primary">Undo</button>
	            <button  id="btn-redo" class="btn btn-primary">Redo</button>
	            <button  id="btn-saveas" class="btn btn-primary">Save As</button>
	            <button  id="btn-save" class="btn btn-primary">Save</button>
		    </div>
	    </div> <!-- end row -->
	
	
		<div class="row">
			<div class="col-4">
		    	<p class="text-info" id="tip-status">
		    	</p>
		    </div>
		    <div class="col-5">
		    </div>
		    <div class="col-3">
			        <span class="notify" id="save-status"></span>
			</div>
		</div>
		