<li class="bbf-field field-{{ key }}">
  <label for="{{ editorId }}">{{ title }}</label>
  <div class="bbf-editor" data-editor></div>
  <div class="bbf-error" data-error></div>
  <div class="bbf-help">{{ unit }}</div>
  <div class="bbf-help" id="bbf-units">{{ unitText }}</div>
  <div class="bbf-help">{{ help }}</div>
</li>
